.forecast{
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

    border: 2px solid black;
}

.tableElementHolder{
    padding: 10px;
}

.halfSideBorder{
    width: auto;
    height: 1px;
    margin: 0 10px;
    background-color: black;
}

@media (min-width: 700px) {
    .forecast{
        display: grid;
        grid-template-columns: 20% 1px 80%;
    }

    .halfSideBorder{
        width: 1px;
        height: auto;
        margin: 10px 0;
    }
}